<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a class='footer-brand' href='/' style="display:block">
                    <img class="hidden-xs" src="/public/img/logo-an-80.png" alt="">
                    <img class="visible-xs" src="/public/img/logo-an.png" alt="">                   
                </a>                
            </div>
            <div class="col-sm-6">
                <div class="footer_text">
                    <ul class="social_nav">
                        <li><a href="https://www.facebook.com/ETA2U" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/ETA2UROMANIA" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/102503801684173438984" target="_blank"><i class="fa fa-google-plus"></i></a></li> 					
                        <li><a href="https://www.linkedin.com/in/eta2u" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.youtube.com/user/Marketingeta2u" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                    All rights reserved.			
                </div>
            </div>
        </div>
    </div>
</footer>       