<nav class='navbar navbar-default navbar-fixed-top'>
        <div class='container'>
            <div class='navbar-header'>
                <button type='button', data-toggle='collapse', data-target='.navbar-collapse' class = 'navbar-toggle collapsed'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
                <a class='navbar-brand' href='/'>
                    <!--ITCongress-->
                    <img class="hidden-xs" src="/public/img/logo-80.png" alt="">
                    <img class="visible-xs" src="/public/img/logo-40.png" alt="">                   
                </a>
            </div>
            <div class='collapse navbar-collapse'>
                <ul class='nav navbar-nav'>
                    <li><a href='http://www.itcongress.ro/?page_id=773'>Parteneri</a></li>
                    <li><a href='http://www.itcongress.ro/?page_id=784'>Galerie</a></li>
                    <li><a href='http://www.itcongress.ro/?page_id=995'>Presa</a></li>
                    <li><a href='http://www.itcongress.ro/?page_id=758'>Contact</a></li>
                </ul>
                {{#unless user.activationToken}} {{!do not display this part during user activation}}
                <ul class='nav navbar-nav navbar-right'>
                    {{#if user}}
                        {{#if user.isAdmin}}
                            <li><a href='/admin'>Admin</a></li>                   
                        {{/if}}
                        <li uib-dropdown>
                            <a href class='dropdown-toggle' data-toggle="dropdown">
                                {{user.name}}
                                <b class='caret'></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href='/changePassword'>Schimba parola</a></li>
                                <li><a href='/logout'>Log out</a></li>
                            </ul>
                        </li>
                    {{else}}
                        <li>
                            <a href='/register'>Cont nou</a>
                        </li>                    
                        <li>
                            <a href='/login'>Login</a>
                        </li>
                    {{/if}}                
                    
                </ul> 
                {{/unless}}           
            </div>
        </div>
    </nav>           