<div ng-include="'app/navbar/navbar.html'"></div>

<ol class="breadcrumb">
    <li>
        <button ng-click="goBack();" type="button" class="btn btn-default btn-xs" style="margin-right:15px">
            <span class="glyphicon glyphicon-arrow-left" ></span> Inapoi
        </button>
        <a href="/admin"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li class="active">Feluri de mancare</li>
</ol>

<div class="container-fluid">
    <h1>{{pageTitle}}</h1>

    <div class="row">
        
        <div class="col-md-9">
            <form class="form-inline">
                <div class="form-group">  
                    
                    <button type="button" class="btn btn-primary" ng-click="create()"> <span class="glyphicon glyphicon-plus"></span> Adauga un nou fel </button>
                    
                </div>
            </form> 
        </div>
                
        <div class="col-md-3">
            <form class="form-inline">
                <div class="form-group pull-right">                   
                    <div class="input-group">
                        <span style="padding-right:10px;" class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="refresh()" style="border-radius:4px; background-color:lightgray"><span class="glyphicon glyphicon-refresh"></span></button>
                        </span>
                        <input style="border-top-left-radius:4px; border-bottom-left-radius:4px" ng-model="search" type="text" class="form-control" placeholder="Cauta...">
                        <span class="input-group-btn"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </div>
            </form>       
        </div> 
    
    </div>    

    <div class="table-responsive">
        <table class="table table-responsive table-hover table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>Nume</th>
                    <th>Categorie</th>
                    <th>DePost</th>
                    <th>Calorii</th>
                    <th>Descriere</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="dish in dishes | filter:search ">
                    <td width="50">
                        <a href ng-click="showModal(dish)"><img ng-src="{{dish.thumbUrl}}" width="40" /></td></a>
                    <td>
                        <a ng-href="/admin/dishes/{{dish._id}}">{{dish.name}}</a>
                    </td>
                    <td ng-switch="dish.category">
                        <span ng-switch-when="1">Supa</span>
                        <span ng-switch-when="2">Felul 2</span>
                        <span ng-switch-when="3">Desert</span>
                        <span ng-switch-when="4">Salata</span>
                    </td>
                    <td><span ng-show="dish.isFasting" class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                    <td>{{ dish.calories }}</td>
                    <td>{{ dish.description }}</td>
                    <td>
                        <a href ng-click="delete(dish)">sterge</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
