<div ng-include="'app/navbar/navbar.html'"></div>

<ol class="breadcrumb">
    <li>
        <button ng-click="goBack();" type="button" class="btn btn-default btn-xs" style="margin-right:15px">
            <span class="glyphicon glyphicon-arrow-left" ></span> Inapoi
        </button>
        <a href="/admin"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li><a href="/admin/speakers">Speakers</a></li>
    <li class="active">{{speaker.name || 'nou'}}</li>
</ol>

<div class="container-fluid">
    <h1>{{pageTitle}}</h1>

    <form ng-submit="isEditMode ? update(form) : create(form)" name="form" class="form-horizontal max-width" role="form" autocomplete="off" novalidate>

        <div class="form-group" ng-class="{'has-error' : form.name.$invalid}">
            <label class="col-md-2 control-label">Name </label>

            <div class="col-md-4">
                <input type="text" name="name" ng-model="speaker.name" class="form-control"/>
                <p ng-show="form.name.$error.myValidation" class="help-block">{{errors.name}}</p>
            </div>            
            
        </div>

        <div class="form-group" ng-class="{'has-error' : form.title.$invalid}">
            <label class="col-md-2 control-label">Title </label>
            <div class="col-md-4">
                <input type="text" name="title" ng-model="speaker.title" class="form-control"/>             
                <p ng-show="form.title.$error.myValidation" class="help-block">{{errors.title}}</p>
            </div>
        </div>
        
        <div class="form-group" ng-class="{'has-error' : form.bio.$invalid}">
            <label class="col-md-2 control-label">Bio </label>
            <div class="col-md-4">
                <textarea name="bio" rows="7" ng-model="speaker.bio" class="form-control"></textarea>              
                <p ng-show="form.bio.$error.myValidation" class="help-block">{{errors.bio}}</p>
            </div>
        </div>
        
        <div class="form-group" ng-class="{'has-error' : form.imageUrl.$invalid}">
            <label class="col-md-2 control-label">Image </label>
            <div class="col-md-4">

                <button class="btn btn-primary  btn-xs" ngf-select="upload($file)" accept="image/*">
                    <span ng-if="!speaker.imageUrl">Adauga poza</span>
                    <span ng-if="speaker.imageUrl">Modifica poza</span>
                </button>
                <span ng-if="speaker.imageUrl">
                    | <a href="" ng-click="removeImage()">Sterge poza</a>
                </span>
                <div class="media" style2="margin:10px;">
                    <img ng-if="speaker.imageUrl" ng-src="{{speaker.imageUrl}}" class="img-thumbnail">
                </div>
                
             
            
            </div>
        </div>        
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-floppy-disk"></span> Salveaza </button>
                <button type="button" class="btn btn-default" ng-click="goBack()"> <span class=" glyphicon glyphicon-remove"></span> Renunta </button>
            </div>
        </div>

    </form>

</div>
