<style>
	@media (max-width: 779px) {
		.btn{
			margin-bottom:10px;
	}	
</style>

{{> navbar}}

<div class='container' style="padding:0; width:100%">
	<div class='jumbotron'>
		<h1>ITCongress 2016 - Secure IT NOW! </h1>
		<p>Cel mai important eveniment IT multibrand organizat în România. 
            <br>
            IT Congress reunește oameni care împărtășesc pasiuni și interese profesionale comune.            
        </p>
	</div>
</div>

{{> footer}}
