<div ng-include="'app/navbar/navbar.html'"></div>

<ol class="breadcrumb">
    <li>
        <button ng-click="goBack();" type="button" class="btn btn-default btn-xs" style="margin-right:15px">
            <span class="glyphicon glyphicon-arrow-left" ></span> Inapoi
        </button>
        <a href="/admin"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li><a href="/admin/customerEmployees">Angajati client</a></li>
    <li class="active">Angajat: {{customerEmployee.name || 'nou'}}</li>
</ol>

<div class="container-fluid">
    <h1>{{pageTitle}}</h1>

    <form ng-submit="isEditMode ? update(form) : create(form)" name="form" class="form-horizontal max-width" role="form" autocomplete="off" novalidate>

        <div class="form-group" ng-class="{'has-error' : form.name.$invalid}">
            <label class="col-md-2 control-label required">Nume </label>
            <div class="col-md-4">
                <input type="text" name="name" ng-model="customerEmployee.name" class="form-control" lm-focus="isFocusOnName"/>
                <p class="text-muted">Numele in format <strong>Nume</strong> + <strong>Prenume</strong>.</p>
                <p ng-show="form.name.$error.myValidation" class="help-block">{{errors.name}}</p>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error' : form.email.$invalid}">
            <label class="col-md-2 control-label">Email </label>
            <div class="col-md-4">
                <input type="email" stop-email-validation name="email" ng-model="customerEmployee.email" class="form-control"/>
                <p class="text-muted">Necesar pt. cine doreste sa-si faca cont in aplicatie.</p>
                <p ng-show="form.email.$error.myValidation" class="help-block">{{errors.email}}</p>
            </div>
        </div>
        
        <div class="form-group" ng-class="{'has-error' : form.badgeCode.$invalid}">
            <label class="col-md-2 control-label">Card</label>
            <div class="col-md-4">        
                <input type="text" name="badgeCode" ng-model="customerEmployee.badgeCode" class="form-control"/>                
                <p class="text-muted">Cardul de acces. Ex: 0002594062 (10 cifre)</p>
                <p ng-show="form.badgeCode.$error.myValidation" class="help-block">{{errors.badgeCode}}</p>                
            </div>
        </div> 


        <div ng-show="isEditMode" class="form-group">
            <label class="col-md-2 control-label">Activ </label>
            <div class="col-md-4">
                <select name="isActive" class="form-control" ng-model="customerEmployee.isActive" ng-options="option.id as option.name for option in isActiveOptions"></select>
                <p ng-show="form.isActive.$error.myValidation" class="help-block">{{errors.isActive}}</p>                 
            </div>
        </div>
        
        <div ng-show="isEditMode" class="form-group" ng-class="{ 'has-error' : form.askForNotification.$invalid}">
            <div class="col-md-4 col-md-offset-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="customerEmployee.askForNotification"> Trimite un email la client pt. creare cont.
                    </label>
                </div>
            </div>
        </div>         

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-floppy-disk"></span> Salveaza </button>
                <button type="button" class="btn btn-default" ng-click="goBack()"> <span class=" glyphicon glyphicon-remove"></span> Renunta </button>
            </div>
        </div>

    </form>

</div>
