<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>    
    <h3 class="modal-title">Creaza o cerere de livrare</h3>
</div>

<form ng-submit="create(form)" name="form" class="form-horizontal" role="form" autocomplete="off" novalidate>
    
    <div class="modal-body">
               
        <div ng-show="!noOrders">
            <div class="form-group" ng-class="{'has-error': form.order.$invalid}">
                <label class="col-md-3 control-label">Comanda:</label>
                <div class="col-md-6">        
                    <select name="order" ng-model="selectedOrder" ng-options="order.date for order in orders" ng-change="selectOrder()" class="form-control"></select>
                    <p class="text-muted">Comanda in baza careia se face livrarea.</p>
                    <p ng-show="form.order.$error.myValidation" class="help-block">{{errors.order}}</p>                
                </div>
            </div>         
            
            <div class="form-group" ng-class="{ 'has-error': form.code.$invalid}">
                <div class="col-md-9 col-md-offset-3">
                    <div class="checkbox">
                        <span ng-repeat="eatSeries in eatSeriesList">
                            <label style="margin-right:30px" 
                                ng-style="{color: eatSeries.disabled ? 'gray' : 'black'}"
                                ng-attr-title="{{eatSeries.disabled ? 'Aceasta serie a mai fost introdusa!' : ''}}">
                                <input type="checkbox" 
                                    ng-model="eatSeries.selected"
                                    ng-disabled="eatSeries.disabled"> 
                                    {{eatSeries.name}}
                            </label>
                        </span>                                    
                    </div>
                    <p class="text-muted">Genereaza cate o cerere pt. fiecare serie.</p>
                    <p ng-show="form.order.$error.myValidation" class="help-block">{{errors.order}}</p>                      
                </div>
            </div>
        </div> 
        
        <div ng-show="noOrders">
            Nu exista comenzi disponibile pentru livrare!
        </div>        
                     
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">Renunta</button>    
        <button class="btn btn-primary" type="submit" ng-disabled="!existNewSeries" ng-attr-title="{{!existNewSeries ? 'Aceasta comanda a mai fost introdusa!' : ''}}">Salveaza</button>
    </div>
    
</form>  