<div ng-include="'app/navbar/navbar.html'"></div>

<ol class="breadcrumb">
    <li>
        <button ng-click="goBack();" type="button" class="btn btn-default btn-xs" style="margin-right:15px">
            <span class="glyphicon glyphicon-arrow-left" ></span> Inapoi
        </button>
        <a href="/admin"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li class="active">Livrari</li>
</ol>

<div class="container-fluid">
    <h1>{{pageTitle}}</h1>
    
    <div class="row">
        
        <div class="col-md-9">
            <form class="form-inline">
                <div class="form-group">  
                    <button type="button" class="btn btn-primary" ng-click="openCreateDelivery()"> 
                        <span class="glyphicon glyphicon-plus"></span> Adauga livrare 
                    </button>               
                </div>
            </form> 
        </div>
                
        <div class="col-md-3">
            <form class="form-inline">
                <div class="form-group pull-right">                   
                    <div class="input-group">
                        <span style="padding-right:10px;" class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="refresh()" style="border-radius:4px; background-color:lightgray"><span class="glyphicon glyphicon-refresh"></span></button>
                        </span>
                        <input style="border-top-left-radius:4px; border-bottom-left-radius:4px" ng-model="search" type="text" class="form-control" placeholder="Cauta...">
                        <span class="input-group-btn"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </div>
            </form>       
        </div> 
    
    </div>     
    

    <div class="table-responsive">
        <table class="table table-responsive table-hover table-condensed">
            <thead>
                <tr>
                    <th>Data</th>
                    <!--<th>Stare</th>
                    <th></th>-->
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="delivery in deliveries | filter:search">
                    <td>
                        <a ng-href="/admin/deliveries/{{delivery._id}}">
                            <strong>{{dt(delivery.orderDate).dayAsShortString}}</strong>, 
                                {{dt(delivery.orderDate).dateAsShortString}} / {{delivery.eatSeries}}
                        </a>
                    </td>                    
                    <!--<td>
                        {{delivery.status}}
                    </td>
                    <td>
                        <span ng-if="delivery.status !== 'completed'">
                            <a href ng-click="delete(delivery)">sterge</a>
                        </span>
                        <span ng-if="delivery.status === 'completed'" class="text-muted" title="Nu poti sterge livrarile finalizate!">
                            sterge
                        </span>
                    </td>-->
                </tr>
            </tbody>
        </table>
    </div>

</div>
