<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>    
    <h3 class="modal-title">Anulare livrare</h3>
</div>

<form name="form" class="form-horizontal" role="form" autocomplete="off" novalidate>
    
    <div class="modal-body">
        <s><h3 style="margin-bottom:20px; ">{{orderLine.employeeName}}</h3></s> 

        <h4 style="margin-left:50px">
            <span ng-style="orderLine.fromOwnerOpt1 && {'background-color':'lightgreen'}">
                &nbsp;{{orderLine.option1}}
            </span>
            <span class="text-muted">&nbsp;- </span>
            <s><span class="text-muted">{{option1.name}}</span></s>                          
        </h4>
        <h4 style="margin-left:50px">
            <span ng-style="orderLine.fromOwnerOpt2 && {'background-color':'lightgreen'}">
                &nbsp;{{orderLine.option2}}
            </span>
            <span class="text-muted">&nbsp;- </span>
            <s><span class="text-muted">{{option2.name}}</span></s>                          
        </h4>
        </br>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">Renunta</button>    
        <button class="btn btn-warning" ng-click="revoke(orderLine)">Anuleaza livreaza</button>
    </div>
    
</form>  