<!doctype html>
<html lang='en'>
<head>
    <base href="/" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ITCongress</title>
    <meta name="description" content="Agenda ITCongress">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    
    <link rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel='stylesheet', href='/public/css/app.css' />
    <link rel="shortcut icon" src="http://www.itcongress.ro/wp-content/uploads/2016/04/ico.png" >
    <link rel="icon" href="http://www.itcongress.ro/wp-content/uploads/2016/04/ico.png" />    
    
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KV9CB3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KV9CB3');</script>
    <!-- End Google Tag Manager -->
    
</head>
<body>

    {{{body}}}

    <script src='//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script> 
    
    {{!-- ensure the javascript is at the bottom of the code if you have to use jQuery;  http://stackoverflow.com/a/25307270  --}}
    {{{_sections.script}}} 
</body>
</html>