{{> navbar}}

<div class="container">
    
    <h3>Ne bucură deosebit interesul dvs. referitor la  IT Congress 2016!</h3>
    <br>
    <p>În decurs de maximum <strong>48 de ore</strong> veţi primi un mesaj pe adresa de e-mail pe care aţi utilizat-o la înregistrare.</p>
    <p>Pentru orice alte informaţii suplimentare vă stăm la dispoziţie: <strong>marketing@eta2u.ro</strong>.</p>
    
</div>