{{> navbar}}

<div class="container">
    
    <h3>Înregistrare reuşită</h3>
    <p>Vă mulţumim pentru înregistrare! </p>
    <br>
    <p>Începând cu data de 22 aprilie, când estimăm că vom publica titlurile prezentărilor în agenda evenimentului, vă invităm să intraţi pe <a href="http://www.itcongress.ro">www.itcongress.ro</a> pentru a vă configura agenda personală.</p>
    <p>Pentru orice alte informaţii suplimentare vă stăm la dispoziţie: <strong>marketing@eta2u.ro</strong>.</p>
    
</div>