{{> navbar}}

<div class="container">
    
    <!--<h3>Etapa de inregistrare s-a incheiat.</h3>
    <p>Vă mulţumim si va asteptam la eveniment! </p>-->
    <h3>Evenimentul s-a incheiat.</h3>
    <p>Vă mulţumim si va asteptam la editia din anul urmator! </p>    
    
</div>