<div ng-include="'app/navbar/navbar.html'"></div>

<ol class="breadcrumb">
    <li><a href ng-click="goBack()"><span class="glyphicon glyphicon-arrow-left" style="margin-right:5px"></span>Inapoi</a></li>
    <li class="active">Meniul de <strong>{{roMenuDate}}</strong> 
        <span class="badge" data-animation="am-fade-and-scale" tooltip-placement="bottom" uib-tooltip="Meniul are {{menu.dishes.length || 0}} {{menu.dishes.length == 1 ? 'fel' : 'feluri'}} de mancare">{{menu.dishes.length || 0}}</span>
    </li>
</ol>

<div class="container-fluid">
    <h1 style="margin-top:0">{{pageTitle}}</h1>

    <div class="row">
        
        <div class="col-md-9">
            <form class="form-inline">
                <div class="form-group">  
                    
                    <label>Filtreaza:</label>
                                
                    <span class="btn-group" uib-dropdown is-open="status.isopen">
                        <button style="text-align:left; min-width:200px;" id="single-button" type="button" class="btn btn-default btn-block" uib-dropdown-toggle ng-disabled="disabled">
                            <span>{{selectedCategory.name}}</span> 
                            <span style="float:right; height:12px; margin-top: 8px;" class="caret"></span>
                        </button>
                        <ul style="min-width:200px;" class="uib-dropdown-menu" role="menu" aria-labelledby="single-button" >
                            <li role="menuitem" ng-repeat="category in categories">
                                <a href="#" ng-click="selectCategory(category)">{{category.name}}</a>
                            </li>
                        </ul>                    
                    </span>            
                            
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="isFastingSelected" ng-click="!isFastingSelected"> De post
                        </label>
                    </div>  
                    
                </div>
            </form> 
        </div>
                
        <div class="col-md-3">
            <form class="form-inline">
                <div class="form-group pull-right">                   
                    <div class="input-group">
                        <span style="padding-right:10px;" class="input-group-btn"><button style="border-radius:4px" type="button" class="btn  btn-default" ng-click="refresh()"> <span class="glyphicon glyphicon-refresh"></span> </button></span>
                        <input style="border-top-left-radius:4px; border-bottom-left-radius:4px" ng-model="search" type="text" class="form-control" placeholder="Cauta...">
                        <span class="input-group-btn"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </div>
            </form>       
        </div> 
    
    </div>
            
    <br/>
    
    <div class="table-responsive">
        <table class="table table-responsive table-hover table-condensed">
            <tbody>
                <!--about conditional filter: http://stackoverflow.com/a/29740044-->
                <tr ng-class="{'success':dish.isAddedTmp}" data-ng-repeat="dish in dishes 
                    | filter: (!selectedCategory.value==0 || '') && {category:selectedCategory.value} 
                    | filter: (isFastingSelected || '') && {isFasting:isFastingSelected}
                    | filter:search 
                    | orderBy:'name'">                    
                    <td width="50">
                        <img ng-src="{{dish.thumbUrl}}" width="40" /></td>
                    <td>
                        <span>{{dish.name}}</span>
                        <span ng-if="dish.isFasting"> (post) </span>
                        <i class="glyphicon glyphicon-info-sign" ng-if="dish.description" uib-tooltip="{{dish.description}}" data-animation="am-fade-and-scale"></i>
                        <button ng-if="!dish.isAddedTmp" type="button" class="btn btn-primary btn-xs" ng-click="addToMenu(dish)"> Adauga la meniu </button>
                        <button ng-if="dish.isAddedTmp" type="button" class="btn btn-success btn-xs" ng-click="removeFromMenu(dish)"> Scoate din meniu </button>                      
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <hr/>
    <p>Produsul cautat nu este in lista? 
        <a href="/dishes/create">Creaza produs nou</a>
    <p>Ai adaugat toate produsele dorite? 
        <a href ng-click="goBack()">Inapoi la meniu</a>
    </p>
    
    <br/>

</div>
