<div ng-include="'app/navbar/navbar.html'"></div>

<ol class="breadcrumb">
    <li>
        <button ng-click="goBack();" type="button" class="btn btn-default btn-xs" style="margin-right:15px">
            <span class="glyphicon glyphicon-arrow-left" ></span> Inapoi
        </button>
        <a href="/admin"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li><a href="/admin/menus">Meniuri</a></li>
    <li class="active">Meniu nou</li>
</ol>

<div class="container-fluid">
    
    <h1>{{pageTitle}}</h1>

    <form ng-submit="isEditMode ? update(form) : create(form)" name="form" class="form-horizontal max-width" role="form" novalidate>
        <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->


    <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

    <h4>Inline</h4>
    <div style="display:inline-block; min-height:290px;">
      <uib-datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
    </div>


        <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && submitted }">
            <label class="col-md-2 control-label">Data meniului </label>
            <div class="col-md-4">
                <!--<input class="form-control" ng-model="menu.name" type="text" name="name" my-focus="isFocusOnName" required />-->
                
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate"
                    max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>        
                
                <p ng-show="form.name.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && submitted }">
            <label class="col-md-2 control-label">Nume </label>
            <div class="col-md-4">
                <input class="form-control" ng-model="menu.name" type="text" name="name" my-focus="isFocusOnName" required />
                <p ng-show="form.name.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : form.code.$invalid && submitted }">
            <label class="col-md-2 control-label">DePost </label>
            <div class="col-md-4">
                <input class="form-control" ng-model="menu.isFasting" type="text" name="code"/>
                <!--<p ng-show="form.code.$invalid  && submitted" class="help-block">This field is required.</p>-->
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Calorii </label>
            <div class="col-md-4">
                <input class="form-control" ng-model="menu.calories" type="text" name="address" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Descriere</label>
            <div class="col-md-4">
                <textarea class="form-control" ng-model="menu.description" name="description" msd-elastic></textarea>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-floppy-disk"></span> Salveaza </button>
                <button type="button" class="btn  btn-default" ng-click="goBack()"> <span class=" glyphicon glyphicon-remove"></span> Renunta </button>
            </div>
        </div>

    </form>

</div>
