
<div class="modal-body" style="padding-top:0;">
    <div class="container-fluid" style="padding:0;">
        <div class="row">
            <div class="col-md-12" style="padding-right:5px;">
                <a class="close" ng-click="modalOptions.close()">&times;</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="selected-image img-responsive img-dadi" ng-src="{{modalOptions.imageUrl}}" />  
            </div>
        </div>

    </div>
</div>
